[Unit]
Description=SquishBox (%i)
After=network.target NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=simple
User=%i
WorkingDirectory=/home/%i
ExecStart=/home/%i/.local/share/squishbox/squishbox-venv/bin/python -m squishbox.apps.launcher
Restart=on-failure
LimitMEMLOCK=infinity
LimitRTPRIO=90

[Install]
WantedBy=multi-user.target
