[Unit]
Description=Mount USB device %I via udisks
After=udisks2.service dev-%i.device
Requires=udisks2.service
BindsTo=dev-%i.device

[Service]
Type=oneshot
User=$USER_NAME
ExecStart=/usr/bin/udisksctl mount -b /dev/%I --no-user-interaction
ExecStop=/usr/bin/udisksctl unmount -b /dev/%I --no-user-interaction
RemainAfterExit=yes

